<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      <app-poke-header></app-poke-header>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <main>
    <ng-template [ngIf]="isLoading">

        <section class="pokemon__status">
            <img [src]="pokemon[0].sprites.other.dream_world.front_default" [alt]="pokemon[0].name" class="slideInDown pokemon-pic">

            <section class="pokemon__names">
              <h1 class="slideInLeft">{{pokemon[0].name}}</h1>
              <h2 class="slideInRight">{{pokemon[1].names[0].name}}</h2>
            </section>

            <div class="pokemon__types">
              <div class="pokemon__type" *ngFor="let value of pokemon[0].types">
                <img [src]="'assets/icon-types/' + value.type.name + '.png'" alt="">
              </div>
            </div>

            <article class="pokemon__status__info">
                <section class="pokemon__status__info__statistics">
                    <h3>Estatísticas</h3>

                    <ol>
                        <li *ngFor="let value of pokemon[0].stats">
                            {{ value.stat.name }}

                            <strong [style.width]="(value.base_stat / 2.5) + '%'">
                                {{ value.base_stat }}
                            </strong>
                        </li>
                    </ol>
                </section>

                <section class="pokemon__status__info__evolutions">
                    <h3>Evoluções</h3>

                    <span>{{ pokemon[1].evolution?.species.name }} </span>
                    <ng-template [ngIf]="pokemon[1].evolution?.evolves_to.length != 0">
                      <span class="arrow">>></span>
                      <span>{{ pokemon[1].evolution?.evolves_to[0]?.species.name }}</span>

                      <ng-template [ngIf]="pokemon[1].evolution?.evolves_to[0].evolves_to.length != 0">
                        <span class="arrow">>></span>
                        <span>{{ pokemon[1].evolution?.evolves_to[0].evolves_to[0]?.species.name }}</span>
                      </ng-template>
                    </ng-template>
                </section>

                <a [routerLink]="['']" class="btn btn__secondary">
                    Voltar
                </a>
                <div class="margin"></div>
            </article>
        </section>
    </ng-template>

    <img src="assets/error.png" alt="Deu erro na mostragem do pokemon" width="100%" style="padding: 30px;" *ngIf="apiError">
  </main>
</ion-content>