:root {
    --branco: #FFF;
    --cinza: #d3d0d0;
    --purple: #D2B4DE;
    --primary-color: #A569BD;
    --shadow-color: #1f202b;
    --secondary-color: #FF5473;
    --secondary-color-hover: #ff4467;
}