:root {
    --branco: #FFF;
    --cinza: #d3d0d0;
    --purple: #C39BD3;
    --primary-color: #262835;
    --shadow-color: #1f202b;
    --secondary-color: #FF5473;
    --secondary-color-hover: #ff4467;
}