.grass { background-color: #27AE60; color: var(--branco); }
.poison { background-color: #6C3483; color: var(--branco); }
.fire { background-color: #D35400; color: var(--branco); }
.flying { background-color: #5D6D7E; color: var(--branco); }
.water { background-color: #2980B9; color: var(--branco); }
.bug { background-color: #145A32; color: var(--branco); }
.normal { background-color: #CA7C9B; color: var(--branco); }
.electric { background-color: #F1C40F; color: var(--branco); }
.ground { background-color: #9C6F0E; color: var(--branco); }
.fairy { background-color: #D62B5D; color: var(--branco); }
.fighting { background-color: #DE5C07; color: var(--branco); }
.fighting { background-color: #DE5C07; color: var(--branco); }
.psychic { background-color: #FF02E0; color: var(--branco); }
.rock { background-color: #623406; color: var(--branco); }
.steel { background-color: #26A6A4; color: var(--branco); }
.ice { background-color: #C4E9E9; color: var(--primary-color); }
.ghost { background-color: #171882; color: var(--branco); }
.dark { background-color: #191a27; color: var(--branco); }
.dragon { background-color: #6CBFEB; color: var(--branco); }