.listagem {
    ion-card {
        background-color: #F4ECF7;

        ion-card-subtitle {
            text-transform: uppercase;
            font-weight: bold;
        }
    
        a {
            text-decoration: none;
        }
    
        .pokemon-pic {
            width: 100%;
            height: auto;
        }
    
        .type {
            text-align: center;
    
            img {
                width: 75%;
            }
        }
    }
}