.listagem {

    a {
        text-decoration: none;
    }

    ion-card {
        background-color: #D2B4DE;

        ion-card-subtitle {
            text-transform: uppercase;
            font-weight: bold;
        }
    
        .pokemon-pic {
            width: 100%;
            height: auto;
        }
    
        .type {
            text-align: center;
    
            img {
                width: 75%;
            }
        }
    }
}