.listagem {
    ion-card-subtitle {
        text-transform: uppercase;
        font-weight: bold;
    }

    .pokemon-pic {
        width: 80px !important;
        height: auto;
    }

    .type {
        text-align: center;

        img {
            width: 75%;
        }
    }
}