ion-chip {
    margin-inline-start: 12px;
}

ion-select {
    --placeholder-color: #E8DAEF;
    --placeholder-opacity: 1;

    &::part(text) {
        color: #E8DAEF;
    }
}

ion-chip {
    --background: #B03A2E;
    --color: #F1948A;
  }