@import '../../../config-scss/rem-calc.scss';

:host {
    display: block !important;

    main {
        margin-top: rem-calc(150);

        .pokemon__status {
            position: relative;

            img {
                position: absolute;
                top: -10%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: rem-calc(130);
                z-index: 10;

                //Remove Bug Animation
                -webkit-animation-fill-mode: none !important;
                animation-fill-mode: none !important;
            }

            .pokemon__names {
                padding-top: rem-calc(50);

                h1, h2 {
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            .pokemon__types {
                display: flex;
                justify-content: center;
                align-items: center;

                .pokemon__type {
                    padding: rem-calc(30);
                }
            }
        }
    }
}