@import '../../../config-scss/rem-calc.scss';

:host {
    display: block !important;

    main {
        margin-top: rem-calc(150);

        .pokemon__status {
            position: relative;

            img.pokemon-pic {
                position: absolute;
                top: -5%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: rem-calc(130);
                z-index: 10;

                //Remove Bug Animation
                -webkit-animation-fill-mode: none !important;
                animation-fill-mode: none !important;
            }

            .pokemon__names {
                padding-top: rem-calc(40);

                h1, h2 {
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            .pokemon__types {
                display: flex;
                justify-content: center;
                align-items: center;

                .pokemon__type {
                    padding: rem-calc(30);
                }
            }

            &__statistics {
                padding: 0 rem-calc(30);

                section {
                    margin-bottom: rem-calc(40);
                }

                ol {
                    margin-top: rem-calc(30);
                    padding-inline-start: 0;

                    li {
                        display: flex;
                        justify-content: flex-start;
                        text-transform: uppercase;
                        font-size: rem-calc(12);
                        line-height: 130%;
                        margin: rem-calc(15) 0;
                    }
                    
                    strong {
                        padding-right: rem-calc(10);
                        margin-left: rem-calc(15);
                        text-align: right;
                        color: var(--branco);
                        background-color: var(--secondary-color);
                        border-radius: rem-calc(5) rem-calc(30) rem-calc(30) rem-calc(5);
                        transition: .3s all;

                        &:hover {
                            background-color: var(--secondary-color-hover);
                        }
                    }
                }

                span {
                    font-size: rem-calc(12);
                    padding: rem-calc(5) rem-calc(10);
                    margin: rem-calc(10) rem-calc(10) 0 0;
                    color: var(--branco);
                    background-color: var(--primary-color);
                    border-radius: rem-calc(10) 0 rem-calc(10) 0;
                    text-transform: capitalize;

                    &.arrow {
                        background-color: var(--cinza);
                        font-weight: 700;
                        padding: rem-calc(2) rem-calc(5);
                        border-radius: 0;
                    }
                }
            }
        }
    }
}